.article {
  color: var(--color-accent-f500);
  margin-bottom: var(--space-600);
  max-width: 600px;

  &-title {
    margin: 0;
    padding: 0;
  }

  &-meta {
    margin-bottom: var(--space-300);
  
    &-date {
      margin-right: var(--space-200);
    }
  
    &-category {
      margin-right: var(--space-200);
    }
  }
}
