.article {
  color: var(--color-accent-f500);
  margin-top: var(--space-400);
  margin-bottom: var(--space-600);
  max-width: 420px;

  &-wrapper {
    @extend %container;

    display: flex;
    justify-content: start;
  }
}
