.article {
  color: var(--color-accent-f500);
  max-width: 600px;

  &-title {
    margin: 0;
    padding: 0;
  }

  &-date {
    margin-right: var(--space-200);
  }

  &-category {
    margin-right: var(--space-200);
  }

  &-meta {
    margin-bottom: var(--space-300);
  }

  &-wrapper {
    margin-bottom: var(--space-600);
  }
}
