.footer {
  background-color: var(--color-primary-b500);
  color: var(--color-primary-f400);
  
  &-container {
    @extend %footer-container
  }

  &-about-title {
    font-size: var(--type-size-300);
    font-weight: var(--type-weight-400);
    grid-area: about-title;
    margin-bottom: var(--space-400);
  }

  &-about-text {
    @include responsive-block('mobile') {
      margin: 0 var(--space-700);
    }

    color: var(--color-primary-f300);
    grid-area: about-text;
  }

  &-navigation-title {
    font-size: var(--type-size-300);
    font-weight: var(--type-weight-400);
    grid-area: nav-title;
    margin-bottom: var(--space-400);
  }

  &-navigation-links {
    grid-area: nav-links;

    &-item {
      display: block;
      font-weight: var(--type-weight-400);
      margin-bottom: var(--space-200);
      color: var(--color-primary-f300);
    }
  }
}
