.posts {
  margin: var(--space-500) 0 var(--space-600) 0;
  padding: 0;

  // Single post
  &-single {
    margin-bottom: var(--space-500);
    margin-top: var(--space-400);

    &-title {
      font-size: var(--type-size-300);
      font-style: oblique var(--font-style-200);
      font-weight: var(--type-weight-500);
      text-decoration: none;
    }

    &-date {
      margin-right: var(--space-200);
    }

    &-tag {
      margin-right: var(--space-200);
    }

    &-summary {
      color: var(--color-accent-f500);
      margin-bottom: 0;
      margin-top: var(--space-100);
      max-width: 600px;
    }
  }
}
