.section {
  margin: 0 0 var(--space-500) 0;
  max-width: 400px;

  &-title {
    margin-bottom: var(--space-200);
    
    &-active {
      font-size: var(--type-size-300);
      font-weight: var(--type-weight-500);
      text-decoration: none;
    }
  }

  &-summary {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: var(--space-300);
  }

  &-posts {
    list-style: none;
    margin: 0;
    padding: 0;

    &-single {
      margin-bottom: var(--space-200);
    }
  }

  &-seeall {
    margin-top: var(--space-100);

    &-link {
      font-weight: var(--type-weight-500);
    }
  }
}
