.section {
  margin: var(--space-400) 0 var(--space-500) 0;
  max-width: 400px;

  &-title {
    font-size: var(--type-size-300);
    font-weight: var(--type-weight-500);
    margin-bottom: 0;
    text-decoration: none;
  }

  &-summary {
    font-weight: 300;
    margin-top: 0;
  }

  &-posts-single {
    display: block;
    margin: var(--sapce-200) 0;
  }

  &-seeall {
    display: block;
    font-weight: var(--type-weight-500);
    margin-top: var(--space-100);
  }
}
