<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" href="{{ absURL "main.css" }}">
    <title>{{ .Title }}</title>
  </head>
  <body class="pagewrapper">
    <div class="pagewrapper-header">
      {{ partial "header.html" . }}
    </div>
    <div class="pagewrapper-main">
      {{- block "main" . }}{{- end }}
    </div>
    <div class="pagewrapper-footer">
      {{ partial "footer.html" . }}
    </div>
  </div>
  </body>
</html>
