{{ define "main" }}
<nav>
  <div class="posts-wrapper l-container">
    <ul class="posts">
      {{ range .Pages }}
      <ul class="posts-single">
        <div>
          <a href="{{ .Permalink }}" class="posts-single-title">
            {{ .Title }}
          </a>
        </div>
        <ul class="posts-single-metadata">
          <li class="posts-single-metadata-date">
            {{ .Date.Format "01-02-2006" }}
          </li>
          <ul class="posts-single-metadata-tags">
            {{ range first 2 (.GetTerms "categories") }}
              <li class="posts-single-metadata-tags-single">
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
              </li>
            {{ end }}
          </ul>
        </ul>
        <li class="posts-single-summary">
          <p>
            {{ .Summary }}
          </p>
        </li>
      </ul>
      {{ end }}
    </ul>
  </div>
</nav>
{{ end }}
