{{ define "main" }}
<nav>
  <div class="posts l-container">
    {{ range .Pages }}
    <div class="posts-single">
      <div>
        <a href="{{ .Permalink }}" class="posts-single-title">
          {{ .Title }}
        </a>
      </div>
      <span class="posts-single-date">
        {{ .Date.Format "01-02-2006" }}
      </span>
      {{ range first 2 (.GetTerms "categories") }}
        <a href="{{ .Permalink }}" class="posts-single-tag">
          {{- .LinkTitle -}}
        </a>
      {{ end }}
      <p class="posts-single-summary">
        {{ with .Params.description }}
        {{ . | htmlUnescape | plainify }}
        {{ else }}
        {{ .Summary | htmlUnescape | plainify }}
        {{ end }}
      </p>
    </div>
    {{ end }}
  </div>
</nav>
{{ end }}
