:root {
  // Colors prefixed with b are for backgrounds.
  // Colors prefixed with f are for foregrounds.
  --color-primary-b500: hsl(220, 55%, 60%);
  --color-primary-f300: hsl(220, 55%, 85%);
  --color-primary-f400: hsl(220, 60%, 90%);
  --color-primary-f500: hsl(220, 65%, 95%);
  --color-primary-f600: hsl(220, 70%, 98%);
  --color-primary-f700: hsl(220, 75%, 99%);
  --color-accent-b500: hsl(220, 35%, 95%);
  --color-accent-f400: hsl(220, 20%, 45%);
  --color-accent-f500: hsl(220, 40%, 25%);
  --color-accent-f600: hsl(220, 50%, 20%);
}
