<footer class="footer">
  <div class="footer-container">
    <section class="footer-about">
      <h1 class="footer-about-title">
        About
      </h1>
      <span class="footer-about-text">
        {{ with .Site.GetPage "/about" }}{{ .Content }}{{ end }}
      </span>
    </section>
    <nav class="footer-navigation">
      <h1 class="footer-navigation-title">
        Navigation
      </h1>
      <ul class="footer-navigation-list">
        <li class="footer-navigation-list-item footer-navigation-list-item-active">
          <a href="{{ .Site.Home.Permalink }}">
            Home
          </a>
        </li>
        <li class="footer-navigation-list-item footer-navigation-list-item-active">
          <a href="{{ .CurrentSection.Permalink }}">
            {{ .CurrentSection.Title }}
          </a>
        </li>
        <li class="footer-navigation-list-item">Github</li>
      </ul>
    </nav>
  </div>
</footer>