<footer class="footer">
  <div class="footer-container">
    <section class="footer-about">
      <h1 class="footer-about-title">
        About
      </h1>
      <p class="footer-about-text">
        This about section should describe the site / wiki
        uses and content briefly. Expected to contain at most 
        three to four sentences. This is the third sentence so
        we should probably stop here.
      </p>
    </section>
    <nav class="footer-navigation">
      <h1 class="footer-navigation-title">
        Navigation
      </h1>
      <ul class="footer-navigation-list">
        <li class="footer-navigation-list-item">
          <a href="{{ .Site.Home.Permalink }}" class="footer-navigation-list-item-active">
            Home
          </a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="{{ .CurrentSection.Permalink }}" class="footer-navigation-list-item-active">
            {{ .CurrentSection.Title }}
          </a>
        </li>
        <li class="footer-navigation-list-item">Github</li>
      </ul>
    </nav>
  </div>
</footer>