<header class='navbar-wrapper'>
  <nav class='navbar'>
    <ul class='navbar-navigation'>
      <li class='navbar-navigation-item navbar-navigation-item-active'>
        <a href={{ .Site.BaseURL }}>Home</a>
      </li>
      {{ if eq .Kind "section" }}
      <li class='navbar-navigation-item'>
        {{ .Title }}
      </li>
      {{ else if eq .Kind "page" }}
        <li class='navbar-navigation-item navbar-navigation-item-active'>
          <a href="{{ .CurrentSection.Permalink }}">
            {{ .CurrentSection.Title }}
          </a>
        </li>
        <li class='navbar-navigation-item'>
          {{ .Title }}
        </li>
      {{end}}
    </ul>
  </nav>
</header>