{{ define "main" }}
<div class="l-container">
  {{ range .Sections }}
  <div class="section">
    <a href="{{ .Permalink }}" class="section-title">
      {{ .Title }}
    </a>
    <p class="section-summary">
      {{ .Summary }}
    </p>
    <nav>
      <ul class="section-posts">
      {{ range first 4 .Pages }}
      <li>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </li>
      {{ end }}
      <li class="section-seeall-wrapper">
        <a href="{{ .Permalink }}" class="section-seeall">
          see all
        </a>
      </li>
      </ul>
    </nav>
  </div>
  {{ end }}
</div>
{{ end }}
