@mixin single-page-margins {
  // Lists
  ol, ul {
    margin-bottom: var(--space-200);
    margin-top: var(--space-100);
  }

  li {
    margin-bottom: var(--space-100);
  }

  // Misc. elements
  p {
    margin-bottom: var(--space-300);
    margin-top: var(--space-200);
  }
}
