@mixin single-page-margins {
  hr {
    margin-bottom: var(--space-100);
    margin-top: var(--space-100);
  }

  ol, ul {
    margin-bottom: var(--space-200);
    margin-top: var(--space-100);
  }

  li {
    margin-bottom: var(--space-100);
  }

  p {
    margin-bottom: var(--space-300);
    margin-top: var(--space-200);
  }

  pre {
    margin-bottom: var(--space-500);
    margin-top: var(--space-400);
  }
}
