html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
hr,
p,
pre,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  // TODO: check whi line-height of 0 makes lists look wierd.
  line-height: 1.43rem;
  min-height: 100%;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

button {
  font-family: inherit;
}
