.pagewrapper {
  display: flex;
  flex-wrap: wrap;

  &-header {
    flex-basis: 100%;
  }

  &-main {
    flex-grow: 1;
    margin-top: var(--space-500);
    min-height: 850px;
  }

  &-footer {
    flex-basis: 100%;
  }
}
